trigger:
- main

stages:
  - stage: Build
    jobs:
      - job: BuildApp

        pool:
          vmImage: ubuntu-latest
        
        steps:
          - task: HelmInstaller@0
            inputs:
              helmVersion: '2.14.1'
              installKubectl: true
          - task:
            

  - stage: DeployTest
    displayName: 'Deploy to Dev'
    jobs:
      - deployment:
        pool:
          vmImage: ubuntu-latest
        environment: 'Dev'
        strategy:
         runOnce:
           deploy:
             steps:
               -  
