trigger: 
- main

resources:
      repositories:
      # repo containing the helm chart and container structure test files
      - repository: hello-deploy
        type: github
        endpoint: karolyfarkas-github
        name: karolyfarkas/hello-deploy

stages:
  - stage: Build
    jobs:
      - job: Build
        pool:
          vmImage: ubuntu-latest
        steps:
          - task: Bash@3
            displayName: 'Troubleshooting...'
            inputs:
              targetType: 'inline'
              script: 'ls'
          - task: Bash@3
            displayName: 'Get version number from VERSION file'
            inputs:
              targetType: 'inline'
              script: 'echo "##vso[build.updatebuildnumber]$(cat VERSION)-$(Build.BuildId)"'
          - task: Bash@3
            displayName: 'Build application'
            inputs:
              targetType: 'inline'
              script: |      
                echo 'Building the application.... bip.. bop...'
          - task: Docker@2
            displayName: 'Build docker image'
            inputs:
              containerRegistry: 'google-artifact-registry'
              repository: 'farkasret/test/hello'
              command: 'buildAndPush'
              Dockerfile: 'Dockerfile'
              tags: '$(Build.BuildNumber)'
              addPipelineData: false
            
  - stage: TestImage
    displayName: 'Test Image'
    dependsOn: Build
    jobs:
      - job: TestImage
        displayName: 'Test Image'
        pool:
          vmImage: ubuntu-latest
        steps:
        - checkout: hello-deploy
          persistCredentials: true
        - script: npm install typed-rest-client --save
          # this step is required because of a bug, not yet patched
          displayName: 'Azure DevOps Patch Install missing packages for ContainerStructureTest'
        - task: ContainerStructureTest@0
          # this step is running multiple tests on the container, see cst-config.yaml
          displayName: 'Container Structure Test'
          inputs:
            dockerRegistryServiceConnection: 'google-artifact-registry'
            repository: 'farkasret/test/hello'
            tag: '$(Build.BuildNumber)'
            configFile: 'cst-config.yaml'
            testRunTitle: 'CST'
            failTaskOnFailedTests: true 
        - task: Bash@3
          # placeholder for future tests
          displayName: 'Testing'
          inputs:
            targetType: 'inline'
            script: 'echo Testing....1....2...1...2....'

  - stage: DeployToTest
    displayName: 'Deploy to Test'
    dependsOn: TestImage
    jobs:
      - deployment: DeployToTest
        displayName: 'Deploy to Test'
        pool:
          vmImage: ubuntu-latest
        environment: 'Dev'
        strategy:
         runOnce:
           deploy:
             steps:
              - checkout: hello-deploy
                persistCredentials: true
              - task: Bash@3
                displayName: 'Troubleshooting...'
                inputs:
                  targetType: 'inline'
                  script: 'ls'
              - task: Bash@3
                displayName: 'Change version number in helm chart'
                inputs:
                  targetType: 'inline'
                  script: |
                    git config user.email azure-pipelines@aka.ms
                    git config user.name azure-pipelines
                    git checkout main
                    sed -i 's|appVersion:.*|appVersion: "$(Build.BuildNumber)"|' helm-chart/Chart.yaml
                    git add helm-chart/Chart.yaml
                    git commit -am 'autorelease by pipeline'
                    git push
              - task: HelmInstaller@0
                # install helm
                inputs:
                  helmVersion: '2.14.1'
                  installKubectl: true
              - task: HelmDeploy@0
                # deploy the app to the test namespace
                inputs:
                  connectionType: 'Kubernetes Service Connection'
                  kubernetesServiceConnection: 'gke-test-cluster'
                  namespace: 'test'
                  command: 'upgrade'
                  chartType: 'Name'
                  chartName: 'helm-chart'
                  releaseName: 'hello'

  - stage: TestApp
    displayName: 'Test the Application'
    dependsOn: DeployToTest
    jobs:
      - job: TestApp
        displayName: 'Test the Application'
        pool:
          vmImage: ubuntu-latest
        steps:
        - task: Bash@3
          displayName: 'Test website availability'
          inputs:
            targetType: 'inline'
            script: |
              result=$(curl -s -o /dev/null -w %{http_code} 34.149.51.193/)

              if [ $result == 200 ]
              then
                echo “OK”
              else
                echo $result
                exit 1
              fi 
            failOnStderr: true
        - task: HelmDeploy@0
          # clean up the test environment
          inputs:
            connectionType: 'Kubernetes Service Connection'
            kubernetesServiceConnection: 'gke-test-cluster'
            namespace: 'test'
            command: 'uninstall'
            arguments: 'hello'

  - stage: DeployToProd
    displayName: 'Deploy to Prod'
    dependsOn: TestApp
    jobs:
      - deployment: DeployToProd
        displayName: 'Deploy to Prod'
        pool:
          vmImage: ubuntu-latest
        environment: 'Dev'
        strategy:
         runOnce:
           deploy:
             steps:
              - checkout: hello-deploy
                persistCredentials: true
              - task: Bash@3
                displayName: 'Troubleshooting...'
                inputs:
                  targetType: 'inline'
                  script: 'ls'
              - task: Bash@3
                displayName: 'Change version number in helm chart'
                inputs:
                  targetType: 'inline'
                  script: |
                    git config user.email azure-pipelines@aka.ms
                    git config user.name azure-pipelines
                    git checkout main
                    sed -i 's|appVersion:.*|appVersion: "$(Build.BuildNumber)"|' helm-chart/Chart.yaml
                    git add helm-chart/Chart.yaml
                    git commit -am 'autorelease by pipeline'
                    git push
              - task: HelmInstaller@0
                # install helm
                inputs:
                  helmVersion: '2.14.1'
                  installKubectl: true
              - task: HelmDeploy@0
                # deploy the app to the default namespace
                inputs:
                  connectionType: 'Kubernetes Service Connection'
                  kubernetesServiceConnection: 'gke-test-cluster'
                  namespace: 'default'
                  command: 'upgrade'
                  chartType: 'Name'
                  chartName: 'helm-chart'
                  releaseName: 'hello'