trigger:
- main

stages:
  - stage: Build
    jobs:
      - job: Build

        pool:
          vmImage: ubuntu-latest
        
        steps:
          - task: Bash@3
            displayName: 'Get version number from VERSION file'
            inputs:
              targetType: 'inline'
              script: 'echo "##vso[build.updatebuildnumber]$(cat VERSION)-$(Build.BuildId)"'
          - task: Bash@3
            displayName: 'Build application'
            inputs:
              targetType: 'inline'
              script: |      
                echo 'Building the application.... bip.. bop...'
          - task: Docker@2
            displayName: 'Build docker image'
            inputs:
              containerRegistry: 'google-artifact-registry'
              repository: 'farkasret/test/hello'
              command: 'buildAndPush'
              Dockerfile: 'Dockerfile'
              tags: '$(Build.BuildNumber)'
              addPipelineData: false
            

  - stage: DeployTest
    dependsOn: Build
    displayName: 'Deploy to Dev'
    jobs:
      - deployment:
        pool:
          vmImage: ubuntu-latest
        environment: 'Dev'
        strategy:
         runOnce:
           deploy:
             steps:
              - task: Bash@3
                inputs:
                  targetType: 'inline'
                  script: 'echo deploying to GKE version - "$(Build.BuildNumber)"'
              - task: HelmInstaller@0
                inputs:
                  helmVersion: '2.14.1'
                  installKubectl: true
              - task: HelmDeploy@0
                inputs:
                  connectionType: 'Kubernetes Service Connection'
                  kubernetesServiceConnection: 'gke-test-cluster'
                  namespace: 'default'
                  command: 'upgrade'
                  chartType: 'Name'
                  chartName: 'helm-chart'
