trigger:
- main

stages:
  - stage: Build
    jobs:
      - job: BuildApp

        pool:
          vmImage: ubuntu-latest
        
        steps:
          - task: HelmInstaller@0
            inputs:
              helmVersion: '2.14.1'
              installKubectl: true
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |      
                echo 'Building the application.... bip.. bop...'
          - task: Docker@2
            displayName: 'Build docker image'
            inputs:
              containerRegistry: 'google-artifact-registry'
              command: 'buildAndPush'
              Dockerfile: 'Dockerfile'
              addPipelineData: false
            

  - stage: DeployTest
    displayName: 'Deploy to Dev'
    jobs:
      - deployment:
        pool:
          vmImage: ubuntu-latest
        environment: 'Dev'
        strategy:
         runOnce:
           deploy:
             steps:
              - task: Bash@3
                inputs:
                  targetType: 'inline'
                  script: 'echo ''deploying to GKE'''
